spring:
  application:
    name: message-brokers-comparison
  web:
    resources:
      cache:
        period: 0
  thymeleaf:
    cache: false

  # Базовые настройки брокеров
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: message-brokers-group
      auto-offset-reset: earliest

# Кастомные настройки (дополнительные)
message:
  broker:
    websocket:
      endpoint: localhost
      path: /ws
      allowed-origins: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.vyanckus: INFO
    org.springframework.web.socket: DEBUG  # Для отладки WebSocket
    org.springframework.messaging: DEBUG   # Для отладки messaging

server:
  port: 8080